@{
    ViewData["Title"] = "Register";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <div class="text-center">
        <h1 class="display-4">Registriraj račun </h1>

        <div class="loginform">
            <label for="username"> Uporabniško ime: </label>
            <input type="text" id="username" name="username" required> <br>
        </div>
        <div class="loginform">
            <label for="email"> E-pošta: </label>
            <input type="email" id="email" name="email" required> <br>

        </div>
        <div class="loginform">
            <label for="pwd"> Geslo: </label>
            <input type="password" id="pwd" name="pwd" required> <br>
        </div>
        <div class="loginform">
            <label for="confirmpwd"> Potrdi Geslo: </label>
            <input type="password" id="confirmpwd" name="confirmpwd" onkeyup='checkpwds();' required> <br>
        </div>
        <span id="msg"></span>
        <button type="submit"> Dodaj račun </button>
        <a asp-action="Login"> Nazaj na prijavo </a>
    </div>

}
<!-- Preverjanje pravilnosti gesla  -->
<script>
    var checkpwds = function () {
        let pwd = document.getElementById("pwd").value;
        let cpwd = document.getElementById("confirmpwd").value;
        if (pwd == cpwd) {
            document.getElementById("msg").style.color = 'green';
            document.getElementById("msg").innerHTML = "gesla se ujemata";
        }
        else {
            document.getElementById("msg").style.color = 'red';
            document.getElementById("msg").innerHTML = "Gesla se ne ujemata";
        }
    }
</script>