@model IEnumerable<Studentko.Models.Logging>

@{
    ViewData["Title"] = "Logging";
}

<h1>Logging</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Akcija</th>
            <th scope="col">Uporabnik</th>
            <th scope="col">Časovna oznaka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.LoggingId</td>
                <td>@log.Action</td>
                <td>@log.User.UserName</td>
                <td>@log.ActionTimestamp</td>
            </tr>
        }
    </tbody>
</table>