@model IEnumerable<Studentko.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Latest Posts</h2>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <h3>@post.title</h3>
            <h4>@post.subtitle</h4>
            <p>@post.content</p>
            <small>Objavleno: @post.date?.ToString("MM/dd/yyyy")</small>
        </li>
    }
</ul>
</div>
